COMPOSE_PROJECT_NAME=ssafy-clone
TZ=Asia/Seoul

MYSQL_ROOT_PASSWORD=ssafy_dev_root_password
MYSQL_DATABASE=ssafy_clone
MYSQL_PORT=13306

REDIS_PORT=16379

RABBITMQ_DEFAULT_USER=ssafy
RABBITMQ_DEFAULT_PASS=ssafy_dev_password
RABBITMQ_PORT=25672
RABBITMQ_MANAGEMENT_PORT=25673

BACKEND_IMAGE=ssafy-clone-backend:local
FRONTEND_IMAGE=ssafy-clone-frontend:local
BACKEND_PORT=18080
HTTP_PORT=18000

ELASTIC_VERSION=8.15.3
ELASTIC_PORT=9200
KIBANA_PORT=5601
LOGSTASH_BEATS_PORT=5044
LOGSTASH_TCP_PORT=5000
